.header{
    background-color: rgb(124, 113, 106);
    text-align: center;
    height:8rem;
    font-size: 3rem;
    padding-top: 3rem;
    color: cyan;
    
}
.placeholder{
    color: cyan;
}

#textBox{
    width: 40rem;
    height: 5rem;
    background-color: ;
    color:cyan;
    

}
.textarea{
    padding-left: 35rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-color: cyan;
    margin:bold;
    color:cyan;
    
    
}


.button{
    padding-left: 48rem;
    padding-bottom: 10rem;
   

}
.text{
    color:cyan;
}


#buttonClick{
    width:14rem;
    height:5rem;
    background-color:mintcream;
  

}
.bg-image{
    background-image: url("images/5852779.jpg");
    
    background-size: 90rem 30rem;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
}
.image-container {
    display: flex;
    justify-content: center;
  }


    

